%h1 Facebook team
%p
	= link_to 'Sign in', new_user_session_path
	= link_to 'Sign up', new_user_registration_path
	= link_to 'Sign out', destroy_user_session_path	
%p
	= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
